@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,300italic,italic&display=swap&subset=cyrillic-ext");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
h1 {
  font-weight: 600;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Montserrat";
}

@media (max-width: 1200px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
  .nav__content {
    max-height: 218px;
  }
}
@media (max-width: 767px) {
  ._container {
    max-width: none;
  }
  .nav__content {
    max-height: 192px;
  }
}
.header__content {
  max-width: 1183px;
}
.header__content .header__menu {
  max-height: 253px;
  background: #ED7E18;
  margin-bottom: 80px;
}

.nav__content {
  max-height: 194px;
  background: #FFECDA;
  margin-bottom: 80px;
}

.wrap__article__content ._article {
  max-height: 459px;
  background: #C0DDF1;
  margin-bottom: 40px;
}
.wrap__article__content ._test {
  max-height: 317px;
  background: #CDF1C0;
  margin-bottom: 120px;
}

.wrap__tools__content {
  max-width: 1172px;
}
.wrap__tools__content .tools__block {
  max-height: 914px;
  background: #ED7E18;
  margin-bottom: 120px;
}

.table__content {
  max-width: 1373px;
}
.table__content .table__elements {
  max-height: 1003px;
  background: #CDF1C0;
  margin-bottom: 120px;
}

.news__content .news__block {
  max-height: 484px;
  background: #fa8e8e;
  margin-bottom: 120px;
}

.footer {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 273px;
  background: #FFECDA;
}