

//<ИМПОРТ СТИЛЕЙ>==================================================
@import "_header";
@import "_fonts";
//@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,300italic,italic&display=swap&subset=cyrillic-ext");

//<ОБНУЛЕНИЕ>===================================================
@import "_nullstyle";

//<ПЕРЕМЕННЫЕ>=========================================
$minWidth: 360px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;

$fontFamily: "Montserrat";


$m0a: 0 auto;
$mb: 120px;


//<СТИЛИ>======================================================

//!временно
h1 {
    font-weight: 600;
}
//!

._container {
    max-width: $maxWidthContainer;
    margin: $m0a;
    font-family: $fontFamily;
}

@media (max-width: 1200px) {
    ._container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    ._container {
        max-width: 750px;
    }
    .nav__content {
        max-height: 218px;
    }
}

@media (max-width: 767px) {
    ._container {
        max-width: none;
    }
    .nav__content {
        max-height: 192px;
    }
}

.header {
    max-width: $maxWidth;
    background: #ED7E18;
    .header__content {
        .header__menu {
            max-height: 253px;
            margin-bottom: 80px;
        }
    }
}

.nav__content {
    max-height: 194px;
    background: #FFECDA;
    margin-bottom: 80px;
}

.wrap__article__content {
    ._article {
        max-height: 459px;
        background: #C0DDF1;
        margin-bottom: 40px;
    }
    ._test {
        max-height: 317px;
        background: #CDF1C0;
        margin-bottom: $mb;
    }
}

.wrap__tools__content {
    max-width: 1172px;
    .tools__block {
        max-height: 914px;
        background: #ED7E18;
        margin-bottom: $mb;
    }
}

.table__content {
    max-width: 1373px;
    .table__elements {
        max-height: 1003px;
        background: #CDF1C0;
        margin-bottom: $mb;
    }
}

.news__content {
    .news__block {
        max-height: 484px;
        background: #fa8e8e;
        margin-bottom: $mb;
    }
}

.footer {
    background: #FFECDA;
}
