

//<ИМПОРТ СТИЛЕЙ>=====================================================
@import "_header";

//<ОБНУЛЕНИЕ>===================================================
@import "_nullstyle";

//<ПЕРЕМЕННЫЕ>=========================================
$minWidth: 360px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;

$m0a: 0 auto;
$mb: 120px;


//<СТИЛИ>======================================================

._container {
    max-width: $maxWidthContainer;
    margin: $m0a;
}

@media (max-width: 1200px) {
    ._container {
        max-width: 970px;
    }
    .nav__content {
        height: 218px;
    }
}

@media (max-width: 992px) {
    ._container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    ._container {
        max-width: none;
    }
}

.header__content {
    max-width: 1183px;
    .header__menu {
        height: 253px;
        background: #ED7E18;
        margin-bottom: 80px;
    }
}

.nav__content {
    max-height: 194px;
    background: #FFECDA;
    margin-bottom: 80px;
}

.wrap__article__content {
    ._article {
        height: 459px;
        background: #C0DDF1;
        margin-bottom: 40px;
    }
    ._test {
        height: 317px;
        background: #CDF1C0;
        margin-bottom: $mb;
    }
}

.wrap__tools__content {
    max-width: 1172px;
    .tools__block {
        height: 914px;
        background: #ED7E18;
        margin-bottom: $mb;
    }
}

.table__content {
    max-width: 1373px;
    .table__elements {
        height: 1003px;
        background: #CDF1C0;
        margin-bottom: $mb;
    }
}

.news__content {
    .news__block {
        height: 484px;
        background: #371F08;
        margin-bottom: $mb;
    }
}

.footer {
    width: 100%;
    //min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    height: 273px;
    background: #FFECDA;
}
